        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@1,500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
        *{margin: 0;padding: 0;outline: none;border: none;}
        body{
            background-image: url('./img/becarios0.jpg');
            background-size: 70% 80%;
            background-repeat: no-repeat;
            background-position: 20% 50%;
            display: flex;
            justify-content: end;
            align-items: center;
            transition: 1.5s;
        }
        .insercionBecarios{
            background: rgba(255, 255, 255);
            min-width: 505px;
            width: 40%;
            height: fit-content;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: repeat(2,47%);
            column-gap: 6% ;
            row-gap: 11px;
            padding: 88px;
        }
        .nombre,.apellido,.fechaNac,.genero{
            grid-column: 1/2;
        }
        .dniNie,.correo,.telefono,.codPostal,.domicilio,.provincia,.localidad{
            grid-column: 2/3;
        }
        .nombre,.dniNie{
            grid-row: 1/2;
        }
        .apellido,.correo{
            grid-row: 2/3;
        }
        .fechaNac,.telefono{
            grid-row: 3/4;
        }
        input[type='radio']{
            margin: 0 8px;
        }
        .domicilio{
            grid-row: 4/5;
        }
        .codPostal{
            grid-row: 5/6;
        }
        .localidad{
            grid-row: 6/7;
        }
        .provincia{
            grid-row: 7/8;
        }
        .genero{
            grid-row: 4/8;
            height: 180px;
            padding-bottom: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .descripcion,.enviar{
            grid-column: 1/3;
            grid-row: 8/9;
        }
        .enviar{
            grid-row: 9/10;
        }
        #enviar{
            width: 100%;
            height: 40px;
            margin-top: 22px;
            font-family: 'Outfit';
            background: rgba(50, 118, 228, 0.816);
            color: white;
            cursor: pointer;
        }
        textarea{
            width: 100%;
            resize: none;
            height: 100px;
        }
        input[type='date'],select{
            width: 100%;
            height: 30px;
            text-align: center;
        }
        input[type='text'], input[type='email'], input[type='number']{
            width: 100%;
            height: 30px;
        }
        label{
            height: 30px;
            display: flex;
            align-items: center;
            font-size: 15px;
            font-family: 'Outfit';
            font-style: italic;
            color: rgb(48, 85, 171);
        }
        .genero > div{
            display: flex;
        }
        i{
            color: rgb(187, 53, 53);
            font-size: 16px;
            font-family: 'Roboto';
            font-weight: bolder;
        }
        b{
            color: rgb(59, 153, 78);
            font-size: 18px;
            font-family: 'Outfit';
        }
        table{
            border-collapse: collapse;
            margin: 0 auto;
            
        }
        th,td,tr{
            border: 1px solid black;
            width: fit-content;
            height: 40px;
            text-align: center;
            min-width: 100px;
            padding: 0 5px;
        }
        
        input,textarea{
            font-family: 'Spectral';
            font-size: 18px;
            border: none;
            border-bottom: 1px solid rgba(50, 118, 228, 0.816);
            color: rgb(92, 92, 92);
            background: transparent;
        }
        select,input[type='date']{
            font-family: 'Dancing Script';
            border: 1px solid rgba(50, 118, 228, 0.816);
            background: rgba(50, 118, 228, 0.816);
            color: white;
            font-size: 19px;
        }
        p{
            margin: 11px 0 0 0;
        }
        .Titulo{
            font-family: 'Dancing Script';
            font-size: 77px;
            color: rgb(255, 255, 255);
            position: absolute;
            top: 136px;
            left: 8%;
            text-shadow: 2px 4px 8px rgb(23, 65, 104);
            font-style: italic;
        }
        input[type='number']::-webkit-inner-spin-button, 
        input[type='number']::-webkit-outer-spin-button { 
            appearance: none; 
        }
        input[type='date']::-webkit-calendar-picker-indicator {
            cursor: pointer;
            filter: invert(1);
            margin-right: 10px;
        }

     

    
